div{
    background-color: red;
    color: white;
}
p{
    background-color: red;
    color: white;
}
a{
    background-color: rgb(181, 128, 128);
}
h1{
    background-color: aliceblue;
    color: black;
}
span{
    background-color: blue;
    color: white;
}